<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <header th:fragment="header" class="navbar navbar-dark bg-primary sticky-top flex-md-nowrap px-4 justify-content-between py-2 shadow-sm" style="min-height: 10vh">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 d-flex align-items-center text-decoration-none" th:href="@{/admin/photos}">
            <img th:src="@{/images/logo.png}" width="100" alt="Logo" class="d-inline-block align-text-top">
            <span class="ms-3 fw-bolder fs-3">PhotoAlbum - Dashboard</span>
        </a>
        <div>
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="btn btn-outline-light">
                Login
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-outline-light">
                Logout
            </a>
        </div>
    </header>

</body>
</html>